body{
    height: 97vh;
}
.espaco{
    background: url('Images/espaco.jpg') center center no-repeat fixed;
    background-size: cover;
}

img{
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 30%;
    transform: translate(-50%, -50%);
}